<h3>{{t 'home.step3.header'}}</h3>
<div class="row">
	<div class="col-xs-12">

		<h4>{{t 'home.step3.customerTypeHeader'}}</h4>
		<div class="row">
			<div class="col-xs-12">
				{{view "select" class="form-control"
				content=customerTypes
				optionValuePath="content.id"
				optionLabelPath="content.title"
				selection=selectedCustomerType
				prompt=(t 'home.step3.customerTypePrompt')
				}}
			</div>
		</div>

		<!-- customerInfoForm start -->
		{{#if isCustomerTypeSet}}
		<h4>{{t 'home.step3.customerDetailsSubheader'}}</h4>

		{{#if showOrganisation}}
		<div class="row">
			<div class="col-xs-12">
				<div {{bind-attr class=":form-group"}}>
					<label for="organization">{{t 'home.customerDetails.organisation'}}{{#if isOrganisationMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.organisation}}
				</div>
			</div>
		</div>
		{{/if}}

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name">{{t 'home.customerDetails.name'}}*</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.name}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="email">{{t 'home.customerDetails.emailAddress'}}{{#if isEmailMandatory}}*{{/if}}</label>
					{{input type='email' classBinding=":form-control" value=customerDetails.emailAddress}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="phone">{{t 'home.customerDetails.phoneNumber'}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.phoneNumber}}
				</div>
			</div>
		</div>

		{{#if showDepartment}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="institution">{{t 'home.customerDetails.department'}}{{#if isDepartmentMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.department}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showUnit}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.customerDetails.unit'}}{{#if isUnitMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.unit}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showAddress}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.customerDetails.address'}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.address}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showPostalCode}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.customerDetails.postalCode'}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.postalCode}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showCity}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.customerDetails.city'}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.city}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showLibraryCardNumber}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="cardnumber">{{t 'home.customerDetails.libraryCardNumber'}}{{#if isLibraryCardNumberMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.libraryCardNumber}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showXAccount}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="xaccount">{{t 'home.customerDetails.xAccount'}}{{#if isXAccountMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.xAccount}}
				</div>
			</div>
		</div>
		{{/if}}
		<!-- customerInfoForm end -->

		<!-- deliveryChoiceDropDown start -->

		<h4>{{t 'home.step3.deliveryOptionsSubheader'}}</h4>

		{{#if isShippingAvailable}}


		<div class="row">
			<div class="col-xs-12">
				{{view "select" class="form-control"
				content=deliveryMethods
				optionValuePath="content.id"
				optionLabelPath="content.title"
				selection=selectedDeliveryMethod
				prompt=(t 'home.step3.deliveryMethodPrompt')
				}}
			</div>
		</div>
		{{/if }}
		<!-- deliveryChoiceDropDown end -->

		<!-- div  deliveryInfoText            : start                                 -->
		{{#if showDeliveryInfoText}}

		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-info" role="alert">{{t 'home.step3.pickupInfoText'}} {{selectedLocation.title}}</div>
			</div>
		</div>
		{{/if }}
		<!-- /div deliveryInfoText            : end                                   -->

		<!-- div deliveryInfoForm             : start                                 -->
		{{#if showDeliveryInfoForm}}
		<h4>{{t 'home.step3.deliveryDetailsSubheader'}}{{#if areDeliveryFieldsMandatory}}*{{/if}}</h4>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.deliveryDetails.company'}}</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.company}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.deliveryDetails.name'}}</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.name}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.deliveryDetails.address'}}</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.address}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.deliveryDetails.postalCode'}}</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.postalCode}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.deliveryDetails.city'}}</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.city}}
				</div>
			</div>
		</div>
		<!-- div deliveryInfoForm             : end                                   -->

		{{/if }}

		<!-- billingInfoForm start -->
		{{#if isInvoicingAvaliable}}
		<h4>{{t 'home.step3.invoicingDetailsSubheader'}}*</h4>

		{{#if showCustomerId}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="order-id">{{t 'home.invoicingDetails.customerId'}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.customerId}}
				</div>
			</div>
		</div>
		{{/if}}

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="company">{{t 'home.invoicingDetails.company'}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.company}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">{{t 'home.invoicingDetails.name'}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.name}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="street-adress">{{t 'home.invoicingDetails.address'}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.address}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="postalcode">{{t 'home.invoicingDetails.postalCode'}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.postalCode}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="city">{{t 'home.invoicingDetails.city'}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.city}}
				</div>
			</div>
		</div>

		{{/if }}
		<div class="row">
		  <div class="col-xs-12 mandatory-text">
		    <div class="pull-right">
		      <p>{{t 'home.step3.mandatoryText'}}</p>
		    </div>
		  </div>
		</div> <!-- end row -->
	{{/if }}
	</div>
</div>
<div class="row">
	<div class="col-xs-12 next-prev">
		<button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step3.prevBtn'}}</button>
		<button {{action 'nextstep'  }} {{ bind-attr class=":btn :btn-primary :pull-right isFormComplete::disabled"}}>{{t 'home.step3.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
	</div>
</div>
