<h3>{{t 'home.step4.header'}}</h3>
<div class="row">
	<div class="col-xs-12">
		<h4>{{t 'home.step4.orderDetailsSubheader'}}</h4>
		<div class="row">
			<div class="col-xs-12">
				{{partial orderPreviewPartialName}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{partial 'home/step4/customer-preview'}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{partial 'home/step4/delivery-preview'}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{partial 'home/step4/invoicing-preview'}}
			</div>
		</div>


		<button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}>{{t 'home.step4.prevBtn'}}</button>
		<button {{action 'save'  }} {{ bind-attr class=":btn :btn-success :pull-right"}}>{{t 'home.step4.nextBtn'}}</button>
	</div>
</div>
