<h3>Beställaruppgifter</h3>
<div class="row">
	<div class="col-xs-12">

		<h4>Jag är...</h4>
		<div class="row">
			<div class="col-xs-12">
				{{view "select" class="form-control"
				content=customerTypes
				optionValuePath="content.id"
				optionLabelPath="content.title"
				selection=selectedCustomerType
				prompt="Välj typ:"
				}}
			</div>
		</div>

		<!-- customerInfoForm start -->
		{{#if isCustomerTypeSet}}
		<h4>Ange dina uppgifter</h4>

		{{#if showOrganisation}}
		<div class="row">
			<div class="col-xs-12">
				<div {{bind-attr class=":form-group"}}>
					<label for="organization">Organisation{{#if isOrganisationMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.organisation}}
				</div>
			</div>
		</div>
		{{/if}}

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name">Namn*</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.name}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="email">E-mail{{#if isEmailMandatory}}*{{/if}}</label>
					{{input type='email' classBinding=":form-control" value=customerDetails.emailAddress}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="phone">Telefon</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.phoneNumber}}
				</div>
			</div>
		</div>

		{{#if showDepartment}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="institution">Institution{{#if isDepartmentMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.department}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showUnit}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Avdelning{{#if isUnitMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.unit}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showAddress}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Gatuadress</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.adress}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showPostalCode}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Postnummer</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.postalCode}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showCity}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Ort</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.city}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showLibraryCardNumber}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="cardnumber">Lånekortsnummer{{#if isLibraryCardNumberMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.libraryCardNumber}}
				</div>
			</div>
		</div>
		{{/if}}

		{{#if showXAccount}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="xaccount">xkonto{{#if isXAccountMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=customerDetails.xAccount}}
				</div>
			</div>
		</div>
		{{/if}}
		{{/if }}
		<!-- customerInfoForm end -->

		<!-- deliveryChoiceDropDown start -->
		{{#if isShippingAvailable}}

		<h4>Välj leveranssätt</h4>
		<div class="row">
			<div class="col-xs-12">
				{{view "select" class="form-control"
				content=deliveryMethods
				optionValuePath="content.id"
				optionLabelPath="content.title"
				selection=selectedDeliveryMethod
				prompt="Välj typ:"
				}}
			</div>
		</div>
		{{/if }}
		<!-- deliveryChoiceDropDown end -->

		<!-- div  deliveryInfoText            : start                                 -->
		{{#if showDeliveryInfoText}}
		<div class="row">
			<div class="col-xs-12">
				<p class="deliveryInfoText">Beställningen skall avhämtas på {{selectedLocation.title}}</p>
			</div>
		</div>
		{{/if }}
		<!-- /div deliveryInfoText            : end                                   -->

		<!-- div deliveryInfoForm             : start                                 -->
		{{#if showDeliveryInfoForm}}
		<h4>Ange leveransadress{{#if areDeliveryFieldsMandatory}}*{{/if}}</h4>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Företag</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.company}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Namn</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.name}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Gatuadress/Box</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.address}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Postnummer</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.postalCode}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Ort</label>
					{{input type='text' classBinding=":form-control" value=deliveryDetails.city}}
				</div>
			</div>
		</div>
		<!-- div deliveryInfoForm             : end                                   -->

		{{/if }} <!-- isShippableFlag -->
		<!-- /div deliveryaddressform: end                                            -->

		<!-- if is_billable  ==true && Sahlgrenska || Företag                         -->
		<!--    SHOW billingaddressform                                               -->
		<!-- else                                                                     -->
		<!--    SHOW billingchoiceinfo                                                -->
		<!-- fi                                                                       -->
		<!-- div billingaddressform  : start                                          -->

		<!-- billingInfoForm start -->
		{{#if isInvoicingAvaliable}}
		<h4>Ange faktureringsuppgifter</h4>

		{{#if showCustomerId}}
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="order-id">Beställar-ID{{#if isCustomerIdMandatory}}*{{/if}}</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.customerId}}
				</div>
			</div>
		</div>
		{{/if}}

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="department">Namn</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.name}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="company">Företag</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.company}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div {{bind-attr class=":form-group errors.project:has-error"}}>
					<label for="street-adress">Gatuadress/Box</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.address}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="postalcode">Postnummer</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.postalCode}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="city">Ort</label>
					{{input type='text' classBinding=":form-control" value=invoicingDetails.city}}
				</div>
			</div>
		</div>

	{{/if }}  <!-- /div isBillableFlag  : end                                           -->
	<!-- billingInfoForm end -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}>{{t 'home.step3.prevBtn'}}</button>
		<button {{action 'nextstep'  }} {{ bind-attr class=":btn :btn-primary :pull-right isFormComplete::disabled"}}>{{t 'home.step3.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
	</div>
</div>
