
<h2>{{t 'home.step1.subHeader1'}}</h2>
<div class="row">
	<div class="col-xs-12">
		<label for="typeSelector">{{t 'home.step1.typeHeader'}}</label>
		{{view "select" class="form-control" id="typeSelector"
		   content=controllers.application.orderTypes
		   optionValuePath="content.identifier"
		   optionLabelPath=optionLabelPath
		   selection=controllers.application.selectedOrderType
		   prompt=(t 'home.step1.typeHeader')
		}}
	</div>
</div>

<div class="row vertical-space-bottom-20">
	<div class="col-xs-12">
		<label for="locationSelector">{{t 'home.step1.locationHeader'}}</label>
		{{view "select" class="form-control" id="locationSelector"
		   content=controllers.application.locations
		   optionValuePath="content.id"
		   optionLabelPath=optionLabelPath
		   selection=controllers.application.selectedLocation
		   prompt=(t 'home.step1.locationHeader')
		}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button {{action 'nextStep'}} id="step1NextButton" disabled={{unless isFormComplete 'disabled'}} {{bind-attr class=":btn :btn-primary :pull-right isFormComplete:enabled:disabled"}}>{{t 'home.step1.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
	</div>
</div>
