<h2>{{t 'home.step2.book.header'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
      <dt>{{t 'home.orderDetailsBook.bookTitle'}}:</dt>
      <dd>{{applicationController.orderDetailsBook.bookTitle}}</dd>
      <dt>{{t 'home.orderDetailsBook.authors'}}:</dt>
      <dd>{{applicationController.orderDetailsBook.authors}}</dd>
      <dt>{{t 'home.orderDetailsBook.isbn'}}:</dt>
      <dd>{{applicationController.orderDetailsBook.isbn}}</dd>
      <dt>{{t 'home.orderDetailsBook.publicationYear'}}:</dt>
      <dd>{{applicationController.orderDetailsBook.publicationYear}}</dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=applicationController.orderDetailsBook.outsideNordics}} {{t 'home.orderDetailsBook.outsideNordics'}}
      </label>
    </div>
    <span class="help-block">{{t 'home.step2.book.outsideNordicsHelpText'}}</span>
  </div>
</div>

<h4>{{t 'home.step2.otherDetailsText'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div  class="form-group">
      <label class="control-label">{{t 'home.orderDetailsBook.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsBook.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label">{{t 'home.orderDetailsBook.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetailsBook.comment}}
    </div>
  </div>
</div> <!-- end row -->
