<h2>{{t 'home.step2.chapter.header'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
      <dt>{{t 'home.orderDetails.chapter.chapterTitle'}}:</dt>
      <dd>{{applicationController.orderDetails.chapter.chapterTitle}}</dd>
      <dt>{{t 'home.orderDetails.chapter.bookTitle'}}:</dt>
      <dd>{{applicationController.orderDetails.chapter.bookTitle}}</dd>
      <dt>{{t 'home.orderDetails.chapter.authors'}}:</dt>
      <dd>{{applicationController.orderDetails.chapter.authors}}</dd>
      <dt>{{t 'home.orderDetails.chapter.isbn'}}:</dt>
      <dd>{{applicationController.orderDetails.chapter.isbn}}</dd>
      <dt>{{t 'home.orderDetails.chapter.publicationYear'}}:</dt>
      <dd>{{applicationController.orderDetails.chapter.publicationYear}}</dd>
      <dt>{{t 'home.orderDetails.chapter.pages'}}:</dt>
      <dd>{{applicationController.orderDetails.chapter.pages}}</dd>
    </dl>
  </div>
</div>

<h4>{{t 'home.step2.otherDetailsText'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label">{{t 'home.orderDetails.chapter.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetails.chapter.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label">{{t 'home.orderDetails.chapter.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetails.chapter.comment}}
    </div>
  </div>
</div> <!-- end row -->
