<h2>{{t 'home.step2.article.header'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      {{{t 'home.step2.article.price'}}}
    </div>
  </div>
</div>
<h3>{{t 'home.step2.article.subHeader1'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if errors.links has-error}}">
      <label for="pubmedIdInput">PubMed ID</label>
      <div class="input-group">
        {{input type='text' class="form-control" value=applicationController.pubMedId id="pubmedIdInput"}}
        <span class="input-group-btn"><button type="submit" {{action 'getPubMedId' applicationController.pubMedId}} class="btn btn-default {{if isPubMedButtonEnabled 'enabled' 'disabled'}}">{{t 'home.step2.article.getPubMedBtn'}}</button></span>
      </div>
    </div>
  </div>
</div>
{{#if error}}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">{{t 'home.step2.article.pubMedError'}}</div>
  </div>
</div> <!-- end row -->
{{/if}}

<h3>{{t 'home.step2.article.subHeader2'}}</h3>

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label for="articleTitleInput" class="control-label">{{t 'home.orderDetailsArticle.articleTitle'}}</label>
      {{input type='text' id="articleTitleInput" class="form-control" value=applicationController.orderDetailsArticle.articleTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label for="articleAuthorsInput" class="control-label">{{t 'home.orderDetailsArticle.authors'}}</label>
      {{input type='text' id="articleAuthorsInput" class="form-control" value=applicationController.orderDetailsArticle.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isJournalTitleValid 'ok' 'has-error'}}">
      <label for="articleJournalTitleInput" class="control-label">{{t 'home.orderDetailsArticle.journalTitle'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' id="articleJournalTitleInput" class="form-control" value=applicationController.orderDetailsArticle.journalTitle}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label for="articleIssnInput" class="control-label">{{t 'home.orderDetailsArticle.issn'}}</label>
      {{input type='text' id="articleIssnInput" class="form-control" value=applicationController.orderDetailsArticle.issn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isPublicationYearValid 'ok' 'has-error'}}">
      <label for="articlePublicationYearInput" class="control-label">{{t 'home.orderDetailsArticle.publicationYear'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input id="articlePublicationYearInput" type='text' class="form-control" value=applicationController.orderDetailsArticle.publicationYear}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label for="articleIssueInput" class="control-label">{{t 'home.orderDetailsArticle.issue'}}</label>
      {{input type='text' id="articleIssueInput" class="form-control" value=applicationController.orderDetailsArticle.issue}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label for="articleVolumeInput" class="control-label">{{t 'home.orderDetailsArticle.volume'}}</label>
      {{input type='text' id="articleVolumeInput" class="form-control" value=applicationController.orderDetailsArticle.volume}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isPagesValid 'ok' 'has-error'}}">
      <label for="articlePagesInput" class="control-label">{{t 'home.orderDetailsArticle.pages'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' id="articlePagesInput" class="form-control" value=applicationController.orderDetailsArticle.pages}}
    </div>
  </div>
</div> <!-- end row -->
<h3>{{t 'home.step2.otherDetailsText'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label for="articleNotValidAfterInput" class="control-label">{{t 'home.orderDetailsArticle.notValidAfter'}}</label>
      {{input type='text' id="articleNotValidAfterInput" class="form-control" value=applicationController.orderDetailsArticle.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label for="articleCommentInput" class="control-label">{{t 'home.orderDetailsArticle.comment'}}</label>
      {{textarea id="articleCommentInput" class="form-control" value=applicationController.orderDetailsArticle.comment}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12 mandatory-text">
    <div class="pull-right">
      <p  class="{{if isFormComplete 'ok' 'text-danger'}}"><i class="fa fa-asterisk mandatory"></i> {{t 'home.step2.mandatoryText'}}</p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} class={{"btn btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step2.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}} class="btn btn-primary pull-right {{if isFormComplete 'enabled' 'disabled'}}">{{t 'home.step2.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
