<h3>{{t 'home.step2.article.header'}}</h3>

<h4>{{t 'home.step2.article.subHeader1'}}</h4>
<div class="row">
  <div class="col-xs-9">
    <div {{bind-attr class=":form-group errors.links:has-error"}}>
      {{input type='text' classBinding=":form-control" value=pubMedId}}
    </div>
  </div>
  <div class="col-xs-3">
    <button {{action 'getPubMedId' pubMedId}} {{ bind-attr class=":btn :btn-default isPumedButtonEnabled:enabled:disabled"}}>{{t 'home.step2.article.getPubMedBtn'}}</button>
  </div>
</div>
{{#if error}}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">{{t 'home.step2.article.pubMedError'}}</div>
  </div>
</div> <!-- end row -->
{{/if}}

<h4>{{t 'home.step2.article.subHeader2'}}</h4>

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.articleTitle'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.articleTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.links:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.article.authors'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.journalTitle'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.journalTitle}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.article.issn'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.issn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group validatePublicationYear"}}>
      <label class="control-label">{{t 'home.orderDetails.article.publicationYear'}}*</label>
      {{input id="publicationYear" type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.publicationYear placeholder='Ange publiceringsår (1994)'}}
      <span {{bind-attr class=":form-control-feedback"}}><i class="fa fa-check" aria-hidden="true"></i></span>
      <p class="help-block">{{ErrorPublicationYear}}</p>
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group "}}>
      <label class="control-label">{{t 'home.orderDetails.article.issue'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.issue}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.keywords:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.article.volume'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.volume}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.article.pages'}}*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.pages}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.article.notValidAfter'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.article.comment'}}</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.article.comment}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}>{{t 'home.step3.prevBtn'}}</button>
    <button {{action 'nextStep'}} {{bind-attr class=":btn :btn-primary :pull-right isNextEnabled:enabled:disabled"}}>{{t 'home.step3.nextBtn'}}</button>
  </div>
</div>
