<h3>{{t 'home.step2.article.header'}}</h3>
<p>{{t 'home.step2.article.price'}}</p>
<h4>{{t 'home.step2.article.subHeader1'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.links:has-error"}}>
      <form class="input-group">
      {{input type='text' classBinding=":form-control" value=pubMedId}}
       <span class="input-group-btn"><button type="submit" {{action 'getPubMedId' pubMedId}} {{ bind-attr class=":btn :btn-default isPubMedButtonEnabled:enabled:disabled"}}>{{t 'home.step2.article.getPubMedBtn'}}</button></span>
      </form>
    </div>
  </div>
</div>
{{#if error}}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">{{t 'home.step2.article.pubMedError'}}</div>
  </div>
</div> <!-- end row -->
{{/if}}

<h4>{{t 'home.step2.article.subHeader2'}}</h4>

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.articleTitle'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.articleTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.authors'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.journalTitle'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.journalTitle}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.issn'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.issn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.publicationYear'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input id="publicationYear" type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.publicationYear}}
      <span {{bind-attr class=":form-control-feedback"}}><i class="fa fa-check" aria-hidden="true"></i></span>
      <p class="help-block">{{ErrorPublicationYear}}</p>
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.issue'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.issue}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.volume'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.volume}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.pages'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.pages}}
    </div>
  </div>
</div> <!-- end row -->
<h4>{{t 'home.step2.otherDetailsText'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.notValidAfter'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.article.comment'}}</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.article.comment}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12 mandatory-text">
    <div class="pull-right">
      <p><i class="fa fa-asterisk mandatory"></i> {{t 'home.step2.mandatoryText'}}</p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step2.prevBtn'}}</button>
    <button {{action 'nextStep'}} {{bind-attr class=":btn :btn-primary :pull-right isFormComplete:enabled:disabled"}}>{{t 'home.step2.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
