<h2>{{t 'home.step2.article.header'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      {{{t 'home.step2.article.price'}}}
    </div>
  </div>
</div>
<h4>{{t 'home.step2.article.subHeader1'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group errors.links:has-error"}}>
      <label for="pubmedIdInput">PubMed ID</label>
      <div class="input-group">
        {{input type='text' classBinding=":form-control" value=pubMedId id="pubmedIdInput"}}
        <span class="input-group-btn"><button type="submit" {{action 'getPubMedId' pubMedId}} {{ bind-attr class=":btn :btn-default isPubMedButtonEnabled:enabled:disabled"}}>{{t 'home.step2.article.getPubMedBtn'}}</button></span>
      </div>
    </div>
  </div>
</div>
{{#if error}}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">{{t 'home.step2.article.pubMedError'}}</div>
  </div>
</div> <!-- end row -->
{{/if}}

<h4>{{t 'home.step2.article.subHeader2'}}</h4>

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleTitleInput" class="control-label">{{t 'home.orderDetails.article.articleTitle'}}</label>
      {{input type='text' id="articleTitleInput" classBinding=":form-control" value=controllers.application.orderDetails.article.articleTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleAuthorsInput" class="control-label">{{t 'home.orderDetails.article.authors'}}</label>
      {{input type='text' id="articleAuthorsInput" classBinding=":form-control" value=controllers.application.orderDetails.article.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group isJournalTitleValid::has-error"}}>
      <label for="articleJournalTitleInput" class="control-label">{{t 'home.orderDetails.article.journalTitle'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' id="articleJournalTitleInput" classBinding=":form-control" value=controllers.application.orderDetails.article.journalTitle}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleIssnInput" class="control-label">{{t 'home.orderDetails.article.issn'}}</label>
      {{input type='text' id="articleIssnInput" classBinding=":form-control" value=controllers.application.orderDetails.article.issn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group isPublicationYearValid::has-error"}}>
      <label for="articlePublicationYearInput" class="control-label">{{t 'home.orderDetails.article.publicationYear'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input id="articlePublicationYearInput" type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.publicationYear}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleIssueInput" class="control-label">{{t 'home.orderDetails.article.issue'}}</label>
      {{input type='text' id="articleIssueInput" classBinding=":form-control" value=controllers.application.orderDetails.article.issue}}
    </div>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleVolumeInput" class="control-label">{{t 'home.orderDetails.article.volume'}}</label>
      {{input type='text' id="articleVolumeInput" classBinding=":form-control" value=controllers.application.orderDetails.article.volume}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group isPagesValid::has-error"}}>
      <label for="articlePagesInput" class="control-label">{{t 'home.orderDetails.article.pages'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' id="articlePagesInput" classBinding=":form-control" value=controllers.application.orderDetails.article.pages}}
    </div>
  </div>
</div> <!-- end row -->
<h4>{{t 'home.step2.otherDetailsText'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleNotValidAfterInput" class="control-label">{{t 'home.orderDetails.article.notValidAfter'}}</label>
      {{input type='text' id="articleNotValidAfterInput" classBinding=":form-control" value=controllers.application.orderDetails.article.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label for="articleCommentInput" class="control-label">{{t 'home.orderDetails.article.comment'}}</label>
      {{textarea id="articleCommentInput" classBinding=":form-control" value=controllers.application.orderDetails.article.comment}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12 mandatory-text">
    <div class="pull-right">
      <p {{bind-attr class="isFormComplete::text-danger"}}><i class="fa fa-asterisk mandatory"></i> {{t 'home.step2.mandatoryText'}}</p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step2.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}} {{bind-attr class=":btn :btn-primary :pull-right isFormComplete:enabled:disabled"}}>{{t 'home.step2.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
