<h3>Artikel</h3>

<h4>Ange PubMed-ID...</h4>
<div class="row">
  <div class="col-xs-9">
    <div {{bind-attr class=":form-group errors.links:has-error"}}>
      {{input type='text' classBinding=":form-control" value=pubMedId}}
    </div>
  </div>
  <div class="col-xs-3">
    <button {{action 'getPubMedId' pubMedId}} {{ bind-attr class=":btn :btn-primary"}}>Hämta</button>
  </div>
</div>
{{#if error}}
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger" role="alert">Kan inte hitta PubMed-ID</div>
  </div>
</div> <!-- end row -->
{{/if}}

<h4><b>... eller fyll i uppgifterna:</b></h4>

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">Artikeltitel</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.articleTitle}}
    </span>
  </div>
</div> <!-- end row -->



<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.extid:has-error"}}>
      <label class="control-label">Tidskriftstitel</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.journalTitle}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.links:has-error"}}>
      <label class="control-label">Författare</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.authors}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">ISSN:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.issn}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.extid:has-error"}}>
      <label class="control-label">Publiceringsår:*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.publicationYear}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.links:has-error"}}>
      <label class="control-label">Nummer:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.issue}}
    </span>
  </div>
</div> <!-- end row -->


<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.keywords:has-error"}}>
      <label class="control-label">Volym:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.volume}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Sidor:*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.pages}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Order inaktuell efter:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.article.notValidAfter}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Kommentar:</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.article.comment}}
    </span>
  </div>
</div> <!-- end row -->
