<h2>{{t 'home.step2.book.header'}}</h2>

<div class="row">
  <div class="col-xs-12">
    <div  class="form-group {{if isTitleValid 'ok' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetails.book.bookTitle'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetails.book.bookTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class="form-group {{if isAuthorsValid 'ok' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetails.book.authors'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetails.book.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.book.isbn'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetails.book.isbn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.book.publicationYear'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetails.book.publicationYear}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=applicationController.orderDetails.book.outsideNordics}} {{t 'home.orderDetails.book.outsideNordics'}}
      </label>
    </div>
    <span class="help-block">{{t 'home.step2.book.outsideNordicsHelpText'}}</span>
  </div>
</div>
<h3>{{t 'home.step2.otherDetailsText'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.book.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetails.book.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.book.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetails.book.comment}}
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 mandatory-text">
    <div class="pull-right">
      <p  class="{{if isFormComplete 'ok' 'text-danger'}}"><i class="fa fa-asterisk mandatory"></i> {{t 'home.step2.mandatoryText'}}</p>
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} class={{"btn btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step2.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}} class="btn btn-primary pull-right {{if isFormComplete 'enabled' 'disabled'}}">{{t 'home.step2.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
