<h3>Bok</h3>

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">Boktitel*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.articleTitle}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.links:has-error"}}>
      <label class="control-label">Författare*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.authors}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">ISBN:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.issn}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox'}} Jag godkänner lån utanför norden
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox'}} Jag vill ha kopia om boken inte kan lånas
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Order inaktuell efter:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.notValidAfter}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Kommentar:</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.comment}}
    </span>
  </div>
</div> <!-- end row -->
