<h3>{{t 'home.step2.book.header'}}</h3>

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.book.bookTitle'}}*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.book.bookTitle}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.links:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.book.authors'}}*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.book.authors}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.book.isbn'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.book.isbn}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=controllers.application.orderDetails.book.outsideNordics}} {{t 'home.orderDetails.book.outsideNordics'}}
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=controllers.application.orderDetails.book.allowCopy}} {{t 'home.orderDetails.book.allowCopy'}}
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.book.notValidAfter'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.book.notValidAfter}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.book.comment'}}</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.book.comment}}
    </span>
  </div>
</div> <!-- end row -->
