<h2>{{t 'home.step2.chapter.header'}}</h2>
<p>{{t 'home.step2.chapter.price'}}</p>
<div class="row">
  <div class="col-xs-12">
    <div  class="form-group {{if isChapterTitleValid '' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsChapter.chapterTitle'}}  <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.chapterTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class="form-group {{if isBookTitleValid '' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsChapter.bookTitle'}}  <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.bookTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsChapter.authors'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsChapter.isbn'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.isbn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsChapter.publicationYear'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.publicationYear}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsChapter.pages'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.pages}}
    </div>
  </div>
</div> <!-- end row -->
<h3>{{t 'home.step2.otherDetailsText'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsChapter.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsChapter.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsChapter.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetailsChapter.comment}}
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right mandatory-text">
      <p class="{{if isFormComplete 'ok' 'text-danger'}}"><i class="fa fa-asterisk mandatory"></i> {{t 'home.step2.mandatoryText'}}</p>
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} class={{"btn btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step2.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}} class="btn btn-primary pull-right {{if isFormComplete 'enabled' 'disabled'}}">{{t 'home.step2.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
