<h2>{{t 'home.step2.microfilm.header'}}</h2>

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group isNewspaperValid::has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.microfilm.newspaper'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.microfilm.newspaper}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group isPeriodValid::has-error"}}>
      <label class="control-label">{{t 'home.orderDetails.microfilm.period'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.microfilm.period}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.microfilm.startyear'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.microfilm.startyear}}
    </div>
  </div>
</div> <!-- end row -->
<h4>{{t 'home.step2.otherDetailsText'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.microfilm.notValidAfter'}}</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.microfilm.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div {{bind-attr class=":form-group"}}>
      <label class="control-label">{{t 'home.orderDetails.microfilm.comment'}}</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.microfilm.comment}}
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right mandatory-text">
      <p {{bind-attr class="isFormComplete::text-danger"}}><i class="fa fa-asterisk mandatory"></i> {{t 'home.step2.mandatoryText'}}</p>
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} {{ bind-attr class=":btn :btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.step2.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}} {{bind-attr class=":btn :btn-primary :pull-right isFormComplete:enabled:disabled"}}>{{t 'home.step2.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
