<h3>Musiktryck</h3>

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">Tonsättare*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.articleTitle}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.links:has-error"}}>
      <label class="control-label">Titel*</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.authors}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.url:has-error"}}>
      <label class="control-label">Publikationsform:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.issn}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Order inaktuell efter:</label>
      {{input type='text' classBinding=":form-control" value=controllers.application.orderDetails.notValidAfter}}
    </span>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <span {{bind-attr class=":form-group errors.project:has-error"}}>
      <label class="control-label">Kommentar:</label>
      {{textarea classBinding=":form-control" value=controllers.application.orderDetails.comment}}
    </span>
  </div>
</div> <!-- end row -->
