<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetailsArticle.articleTitle'}}</td>
      <td>{{applicationController.orderDetailsArticle.articleTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.authors'}}</td>
      <td>{{applicationController.orderDetailsArticle.authors}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.journalTitle'}}</td>
      <td>{{applicationController.orderDetailsArticle.journalTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.issn'}}</td>
      <td>{{applicationController.orderDetailsArticle.issn}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.publicationYear'}}</td>
      <td>{{applicationController.orderDetailsArticle.publicationYear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.issue'}}</td>
      <td>{{applicationController.orderDetailsArticle.issue}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.volume'}}</td>
      <td>{{applicationController.orderDetailsArticle.volume}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.pages'}}</td>
      <td>{{applicationController.orderDetailsArticle.pages}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.notValidAfter'}}</td>
      <td>{{applicationController.orderDetailsArticle.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsArticle.comment'}}</td>
      <td>{{applicationController.orderDetailsArticle.comment}}</td>
    </tr>
  </tbody>
</table>
