<h3>{{t 'home.summary.customerDetailsSubheader'}}</h3>
<table class="table table-striped">
  <tbody>
    {{#if applicationController.customerDetails.organisation}}
    <tr>
      <td>{{t 'home.customerDetails.organisation'}}</td>
      <td>{{applicationController.customerDetails.organisation}}</td>
    </tr>
    {{/if}}
    <tr>
      <td>{{t 'home.customerDetails.name'}}</td>
      <td>{{applicationController.customerDetails.name}}</td>
    </tr>
    <tr>
      <td>{{t 'home.customerDetails.emailAddress'}}</td>
      <td>{{applicationController.customerDetails.emailAddress}}</td>
    </tr>
    {{#if applicationController.customerDetails.department}}
    <tr>
      <td>{{t 'home.customerDetails.department'}}</td>
      <td>{{applicationController.customerDetails.department}}</td>
    </tr>
    {{/if}}
    {{#if applicationController.customerDetails.unit}}
    <tr>
      <td>{{t 'home.customerDetails.unit'}}</td>
      <td>{{applicationController.customerDetails.unit}}</td>
    </tr>
    {{/if}}
    {{#if applicationController.customerDetails.address}}
    <tr>
      <td>{{t 'home.customerDetails.address'}}</td>
      <td>{{applicationController.customerDetails.address}}</td>
    </tr>
    {{/if}}
    {{#if applicationController.customerDetails.postalCode}}
    <tr>
      <td>{{t 'home.customerDetails.postalCode'}}</td>
      <td>{{applicationController.customerDetails.postalCode}}</td>
    </tr>
    {{/if}}
    {{#if applicationController.customerDetails.city}}
    <tr>
      <td>{{t 'home.customerDetails.city'}}</td>
      <td>{{applicationController.customerDetails.city}}</td>
    </tr>
    {{/if}}
    {{#if applicationController.customerDetails.libraryCardNumber}}
    <tr>
      <td>{{t 'home.customerDetails.libraryCardNumber'}}</td>
      <td>{{applicationController.customerDetails.libraryCardNumber}}</td>
    </tr>
    {{/if}}
    {{#if applicationController.customerDetails.xAccount}}
    <tr>
      <td>{{t 'home.customerDetails.xAccount'}}</td>
      <td>{{applicationController.customerDetails.xAccount}}</td>
    </tr>
    {{/if}}
  </tbody>
</table>
