<h3>{{t 'home.step4.deliveryOptionsSubheader'}}</h3>
<!-- Om leveranssätt är skickas -->
{{#if isDeliveryTypeShipping}}

<p>{{t 'home.step4.shippingInfoText'}}</p>

<table class="table table-striped">
  <tbody>
    {{#if applicationController.deliveryDetails.box}}
    <tr>
      <td>{{t 'home.deliveryDetails.box'}}</td>
      <td>{{applicationController.deliveryDetails.box}}</td>
    </tr>
    <tr>
      <td>{{t 'home.deliveryDetails.comment'}}</td>
      <td>{{applicationController.deliveryDetails.comment}}</td>
    </tr>
    {{else}}
    <tr>
      <td>{{t 'home.deliveryDetails.address'}}</td>
      <td>{{applicationController.deliveryDetails.address}}</td>
    </tr>
    <tr>
      <td>{{t 'home.deliveryDetails.postalCode'}}</td>
      <td>{{applicationController.deliveryDetails.postalCode}}</td>
    </tr>
    <tr>
      <td>{{t 'home.deliveryDetails.city'}}</td>
      <td>{{applicationController.deliveryDetails.city}}</td>
    </tr>
    {{/if}}
  </tbody>
</table>

{{else}}

<p>{{t 'home.step4.pickupInfoText'}} {{selectedLibraryNameString}}</p>

{{/if}}
