{{#if hasInvoicing}}
<h3>{{t 'home.summary.invoicingDetailsSubheader'}}</h3>
<table class="table table-striped">
  <tbody>
    {{#if applicationController.invoicingDetails.customerId}}
    <tr>
      <td>{{t 'home.invoicingDetails.customerId'}}</td>
      <td>{{applicationController.invoicingDetails.customerId}}</td>
    </tr>
    {{else}}
    <tr>
      <td>{{t 'home.invoicingDetails.company'}}</td>
      <td>{{applicationController.invoicingDetails.company}}</td>
    </tr>
    <tr>
      <td>{{t 'home.invoicingDetails.name'}}</td>
      <td>{{applicationController.invoicingDetails.name}}</td>
    </tr>
    <tr>
      <td>{{t 'home.invoicingDetails.address'}}</td>
      <td>{{applicationController.invoicingDetails.address}}</td>
    </tr>
    <tr>
      <td>{{t 'home.invoicingDetails.postalCode'}}</td>
      <td>{{applicationController.invoicingDetails.postalCode}}</td>
    </tr>
    <tr>
      <td>{{t 'home.invoicingDetails.city'}}</td>
      <td>{{applicationController.invoicingDetails.city}}</td>
    </tr>
    {{/if}}
  </tbody>
</table>
{{/if}}
