<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetailsChapter.chapterTitle'}}</td>
      <td>{{applicationController.orderDetailsChapter.chapterTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.bookTitle'}}</td>
      <td>{{applicationController.orderDetailsChapter.bookTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.authors'}}</td>
      <td>{{applicationController.orderDetailsChapter.authors}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.isbn'}}</td>
      <td>{{applicationController.orderDetailsChapter.isbn}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.publicationYear'}}</td>
      <td>{{applicationController.orderDetailsChapter.publicationYear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.pages'}}</td>
      <td>{{applicationController.orderDetailsChapter.pages}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.notValidAfter'}}</td>
      <td>{{applicationController.orderDetailsChapter.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsChapter.comment'}}</td>
      <td>{{applicationController.orderDetailsChapter.comment}}</td>
    </tr>
  </tbody>
</table>
