<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetailsScore.composers'}}</td>
      <td>{{applicationController.orderDetailsScore.composers}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsScore.opusTitle'}}</td>
      <td>{{applicationController.orderDetailsScore.opusTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsScore.publicationType'}}</td>
      <td>{{applicationController.orderDetailsScore.publicationType}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsScore.notValidAfter'}}</td>
      <td>{{applicationController.orderDetailsScore.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsScore.comment'}}</td>
      <td>{{applicationController.orderDetailsScore.comment}}</td>
    </tr>
  </tbody>
</table>
