<h2>{{t 'home.orderDetails.book.header'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      {{{t 'home.orderDetails.book.price'}}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div  class="form-group {{if isTitleValid 'ok' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsBook.bookTitle'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsBook.bookTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class="form-group {{if isAuthorsValid 'ok' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsBook.authors'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsBook.authors}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsBook.isbn'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsBook.isbn}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsBook.publicationYear'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsBook.publicationYear}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=applicationController.orderDetailsBook.outsideNordics}} {{t 'home.orderDetailsBook.outsideNordics'}}
      </label>
    </div>
    <span class="help-block">{{t 'home.orderDetails.book.outsideNordicsHelpText'}}</span>
  </div>
</div>
<h3>{{t 'home.orderDetails.otherDetailsText'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsBook.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsBook.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsBook.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetailsBook.comment}}
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 mandatory-text">
    <div class="pull-right">
      <p  class="{{if isFormComplete 'ok' 'text-danger'}}"><i class="fa fa-asterisk mandatory"></i> {{t 'home.orderDetails.mandatoryText'}}</p>
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}} class={{"btn btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.orderDetails.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}} class="btn btn-primary pull-right {{if isFormComplete 'enabled' 'disabled'}}">{{t 'home.orderDetails.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
