<h2>{{t 'home.orderDetails.microfilm.header'}}</h2>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isNewspaperValid 'ok' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsMicrofilm.newspaper'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsMicrofilm.newspaper}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isPeriodValid 'ok' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsMicrofilm.period'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsMicrofilm.period}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsMicrofilm.startyear'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsMicrofilm.startyear}}
    </div>
  </div>
</div> <!-- end row -->
<h3>{{t 'home.orderDetails.otherDetailsText'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsMicrofilm.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsMicrofilm.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsMicrofilm.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetailsMicrofilm.comment}}
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right mandatory-text">
      <p class="{{if isFormComplete 'ok' 'text-danger'}}"><i class="fa fa-asterisk mandatory"></i> {{t 'home.orderDetails.mandatoryText'}}</p>
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}}  class={{"btn btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.orderDetails.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}}  class="btn btn-primary pull-right {{if isFormComplete 'enabled' 'disabled'}}">{{t 'home.orderDetails.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
