<h2>{{t 'home.orderDetails.score.header'}}</h2>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isComposersValid '' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsScore.composers'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsScore.composers}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group {{if isOpusTitleValid '' 'has-error'}}">
      <label class="control-label">{{t 'home.orderDetailsScore.opusTitle'}} <i class="fa fa-asterisk mandatory"></i></label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsScore.opusTitle}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsScore.publicationType'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsScore.publicationType}}
      <span id="helpBlock" class="help-block">{{t 'home.orderDetails.score.publicationTypeHelpText'}}</span>
    </div>

  </div>
</div> <!-- end row -->
<h3>{{t 'home.orderDetails.otherDetailsText'}}</h3>
<div class="row">
  <div class="col-xs-12">
    <div  class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsScore.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsScore.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class={{"form-group"}}>
      <label class="control-label">{{t 'home.orderDetailsScore.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetailsScore.comment}}
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right mandatory-text">
      <p  class={{"isFormComplete::text-danger"}}><i class="fa fa-asterisk mandatory"></i> {{t 'home.orderDetails.mandatoryText'}}</p>
    </div>
  </div>
</div> <!-- end row -->
<div class="row">
  <div class="col-xs-12 next-prev">
    <button {{action 'back'}}  class={{"btn btn-link"}}><i class="fa fa-chevron-left"></i> {{t 'home.orderDetails.prevBtn'}}</button>
    <button {{action 'nextStep'}} disabled={{unless isFormComplete 'disabled'}}  class="btn btn-primary pull-right {{if isFormComplete 'enabled' 'disabled'}}">{{t 'home.orderDetails.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
  </div>
</div>
