<h2>{{t 'home.orderType.subHeader1'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <label for="typeSelector">{{t 'home.orderType.typeHeader'}}</label>
    {{#x-select
      class="form-control"
      on-change=(action (mut applicationController.order.selectedOrderType))
      value=applicationController.order.selectedOrderType
    as |item|}}
      {{#item.option}}{{t 'home.orderType.typePrompt'}}{{/item.option}}
      {{#each applicationController.orderTypes as |type|}}
        {{#item.option value=type.label}}
          {{#if isEnglish}}
           <strong>{{type.name_en}}</strong>
          {{else}}
           <strong>{{type.name_sv}}</strong>
          {{/if}}
        {{/item.option}}
      {{/each}}
    {{/x-select}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button {{action 'nextStep'}} id="orderTypeNextButton" disabled={{unless isFormComplete 'disabled'}}  class="btn btn-primary pull-right">
      {{t (if (and auth.required (not session.isAuthenticated)) "home.orderType.authBtn" "home.orderType.nextBtn") }} <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
