<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetails.article.articleTitle'}}</td>
      <td>{{applicationController.orderDetails.article.articleTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.authors'}}</td>
      <td>{{applicationController.orderDetails.article.authors}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.journalTitle'}}</td>
      <td>{{applicationController.orderDetails.article.journalTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.issn'}}</td>
      <td>{{applicationController.orderDetails.article.issn}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.publicationYear'}}</td>
      <td>{{applicationController.orderDetails.article.publicationYear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.issue'}}</td>
      <td>{{applicationController.orderDetails.article.issue}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.volume'}}</td>
      <td>{{applicationController.orderDetails.article.volume}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.pages'}}</td>
      <td>{{applicationController.orderDetails.article.pages}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.notValidAfter'}}</td>
      <td>{{applicationController.orderDetails.article.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.article.comment'}}</td>
      <td>{{applicationController.orderDetails.article.comment}}</td>
    </tr>
  </tbody>
</table>
