<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetailsBook.bookTitle'}}</td>
      <td>{{applicationController.orderDetailsBook.bookTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsBook.authors'}}</td>
      <td>{{applicationController.orderDetailsBook.authors}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsBook.isbn'}}</td>
      <td>{{applicationController.orderDetailsBook.isbn}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsBook.publicationYear'}}</td>
      <td>{{applicationController.orderDetailsBook.publicationYear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsBook.outsideNordics'}}</td>
      <td>{{#if applicationController.orderDetailsBook.outsideNordics}}{{t 'home.step4.yes'}}{{else}}{{t 'home.step4.no'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsBook.notValidAfter'}}</td>
      <td>{{applicationController.orderDetailsBook.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsBook.comment'}}</td>
      <td>{{applicationController.orderDetailsBook.comment}}</td>
    </tr>
  </tbody>
</table>
