<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetails.chapter.chapterTitle'}}</td>
      <td>{{applicationController.orderDetails.chapter.chapterTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.bookTitle'}}</td>
      <td>{{applicationController.orderDetails.chapter.bookTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.authors'}}</td>
      <td>{{applicationController.orderDetails.chapter.authors}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.isbn'}}</td>
      <td>{{applicationController.orderDetails.chapter.isbn}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.publicationYear'}}</td>
      <td>{{applicationController.orderDetails.chapter.publicationYear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.pages'}}</td>
      <td>{{applicationController.orderDetails.chapter.pages}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.notValidAfter'}}</td>
      <td>{{applicationController.orderDetails.chapter.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.chapter.comment'}}</td>
      <td>{{applicationController.orderDetails.chapter.comment}}</td>
    </tr>
  </tbody>
</table>
