<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetailsMicrofilm.newspaper'}}</td>
      <td>{{applicationController.orderDetailsMicrofilm.newspaper}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsMicrofilm.period'}}</td>
      <td>{{applicationController.orderDetailsMicrofilm.period}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsMicrofilm.startyear'}}</td>
      <td>{{applicationController.orderDetailsMicrofilm.startyear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsMicrofilm.notValidAfter'}}</td>
      <td>{{applicationController.orderDetailsMicrofilm.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetailsMicrofilm.comment'}}</td>
      <td>{{applicationController.orderDetailsMicrofilm.comment}}</td>
    </tr>
  </tbody>
</table>
