<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetails.microfilm.newspaper'}}</td>
      <td>{{controllers.application.orderDetails.microfilm.newspaper}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.microfilm.period'}}</td>
      <td>{{controllers.application.orderDetails.microfilm.period}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.microfilm.startyear'}}</td>
      <td>{{controllers.application.orderDetails.microfilm.startyear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.microfilm.notValidAfter'}}</td>
      <td>{{controllers.application.orderDetails.microfilm.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.microfilm.comment'}}</td>
      <td>{{controllers.application.orderDetails.microfilm.comment}}</td>
    </tr>
  </tbody>
</table>
