<h2>{{t 'home.error.errorHeader'}}</h2>
<div class="row">
	<div class="col-xs-12" >
		<div class="alert alert-danger" role="alert">
		  {{t 'home.error.errorMessage'}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 next-prev">
        <button {{action 'resetForm'  }} class="btn btn-primary {{isDisabled:disabled}}">{{t 'home.error.back'}}</button>
	</div>
</div>
