{{partial orderPreviewPartialName}}

<h2>{{t 'home.step1.locationHeader'}}</h2>
<div class="row vertical-space-bottom-20">
	<div class="col-xs-12">
		{{view "select" class="form-control" id="locationSelector"
		   content=controllers.application.locations
		   optionValuePath="content.id"
		   optionLabelPath=optionLabelPath
		   selection=controllers.application.selectedLocation
		   prompt=(t 'home.step1.locationHeader')
		}}
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<button {{action 'nextStep'}} id="step1NextButton" {{bind-attr class=":btn :btn-primary :pull-right isFormComplete:enabled:disabled"}}>{{t 'home.step1.nextBtn'}} <i class="fa fa-chevron-right"></i></button>
	</div>
</div>
