<table class="table table-striped">
  <tbody>
    <tr>
      <td>Titel</td>
      <td>{{controllers.application.orderDetails.article.articleTitle}}</td>
    </tr>
    <tr>
      <td>Författare</td>
      <td>{{controllers.application.orderDetails.article.authors}}</td>
    </tr>
    <tr>
      <td>Tidskriftstitel</td>
      <td>{{controllers.application.orderDetails.article.journalTitle}}</td>
    </tr>
    <tr>
      <td>ISSN</td>
      <td>{{controllers.application.orderDetails.article.issn}}</td>
    </tr>
    <tr>
      <td>Volym</td>
      <td>{{controllers.application.orderDetails.article.volume}}</td>
    </tr>
    <tr>
      <td>Sidor</td>
      <td>{{controllers.application.orderDetails.article.pages}}</td>
    </tr>
    <tr>
      <td>Ej aktuell efter</td>
      <td>{{controllers.application.orderDetails.article.notValidAfter}}</td>
    </tr>
    <tr>
      <td>Kommentar</td>
      <td>{{controllers.application.orderDetails.article.comment}}</td>
    </tr>
  </tbody>
</table>
