<table class="table table-striped">
  <tbody>
    <tr>
      <td>Titel</td>
      <td>{{controllers.application.orderDetails.book.bookTitle}}</td>
    </tr>
    <tr>
      <td>Författare</td>
      <td>{{controllers.application.orderDetails.book.authors}}</td>
    </tr>
    <tr>
      <td>ISBN</td>
      <td>{{controllers.application.orderDetails.book.isbn}}</td>
    </tr>
    <tr>
      <td>Utanför norden</td>
      <td>{{controllers.application.orderDetails.book.outsideNordics}}</td>
    </tr>
    <tr>
      <td>Tillåt kopia</td>
      <td>{{controllers.application.orderDetails.book.allowCopy}}</td>
    </tr>
    <tr>
      <td>Order inaktuell efter</td>
      <td>{{controllers.application.orderDetails.book.notValidAfter}}</td>
    </tr>
    <tr>
      <td>Kommentar</td>
      <td>{{controllers.application.orderDetails.book.comment}}</td>
    </tr>
  </tbody>
</table>
