<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetails.book.bookTitle'}}</td>
      <td>{{controllers.application.orderDetails.book.bookTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.authors'}}</td>
      <td>{{controllers.application.orderDetails.book.authors}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.isbn'}}</td>
      <td>{{controllers.application.orderDetails.book.isbn}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.publicationYear'}}</td>
      <td>{{controllers.application.orderDetails.book.publicationYear}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.outsideNordics'}}</td>
      <td>{{#if controllers.application.orderDetails.book.outsideNordics}}{{t 'home.step4.yes'}}{{else}}{{t 'home.step4.no'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.allowCopy'}}</td>
      <td>{{#if controllers.application.orderDetails.book.allowCopy}}{{t 'home.step4.yes'}}{{else}}{{t 'home.step4.no'}}{{/if}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.notValidAfter'}}</td>
      <td>{{controllers.application.orderDetails.book.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.book.comment'}}</td>
      <td>{{controllers.application.orderDetails.book.comment}}</td>
    </tr>
  </tbody>
</table>
