<table class="table table-striped">
  <tbody>
    <tr>
      <td>Namn</td>
      <td>{{controllers.application.customerDetails.name}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{controllers.application.customerDetails.emailAddress}}</td>
    </tr>
    <tr>
      <td>Telefon</td>
      <td>{{controllers.application.customerDetails.phoneNumber}}</td>
    </tr>
    <tr>
      <td>Företag</td>
      <td>{{controllers.application.customerDetails.organisation}}</td>
    </tr>
    <tr>
      <td>Avdelning</td>
      <td>{{controllers.application.customerDetails.department}}</td>
    </tr>
    <tr>
      <td>Institution</td>
      <td>{{controllers.application.customerDetails.institution}}</td>
    </tr>
    <tr>
      <td>Lånekortsnummer</td>
      <td>{{controllers.application.customerDetails.libraryCardNumber}}</td>
    </tr>
  </tbody>
</table>
