{{#if hasInvoicing}}
<h4>Faktureringsuppgifter</h4>
<table class="table table-striped">
  <tbody>
    <tr>
      <td>Beställar-ID</td>
      <td>{{controllers.application.invoicingDetails.customerId}}</td>
    </tr>
    <tr>
      <td>Namn</td>
      <td>{{controllers.application.invoicingDetails.name}}</td>
    </tr>
    <tr>
      <td>Företag</td>
      <td>{{controllers.application.invoicingDetails.company}}</td>
    </tr>
    <tr>
      <td>Gatuadress/Box</td>
      <td>{{controllers.application.invoicingDetails.address}}</td>
    </tr>
    <tr>
      <td>Postnummer</td>
      <td>{{controllers.application.invoicingDetails.postalCode}}</td>
    </tr>
    <tr>
      <td>Ort</td>
      <td>{{controllers.application.invoicingDetails.city}}</td>
    </tr>
  </tbody>
</table>
{{/if}}
