<table class="table table-striped">
  <tbody>
    <tr>
      <td>{{t 'home.orderDetails.score.composers'}}</td>
      <td>{{controllers.application.orderDetails.score.composers}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.score.opusTitle'}}</td>
      <td>{{controllers.application.orderDetails.score.opusTitle}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.score.publicationType'}}</td>
      <td>{{controllers.application.orderDetails.score.publicationType}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.score.notValidAfter'}}</td>
      <td>{{controllers.application.orderDetails.score.notValidAfter}}</td>
    </tr>
    <tr>
      <td>{{t 'home.orderDetails.score.comment'}}</td>
      <td>{{controllers.application.orderDetails.score.comment}}</td>
    </tr>
  </tbody>
</table>
