<div class="row">
  <div class="col-xs-12 col-sm-3 step-indicator disabled">
    <ol>
      <li>{{#link-to 'home.step1' disabled=true }}{{t 'home.step1.header'}}{{/link-to}}</li>
      <li>{{#link-to 'home.step2' disabled=true }}{{t 'home.step2.header'}}{{/link-to}}</li>
      <li>{{#link-to 'home.step3' disabled=true }}{{t 'home.step3.header'}}{{/link-to}}</li>
      <li>{{#link-to 'home.step4' disabled=true }}{{t 'home.step4.header'}}{{/link-to}}</li>
      <li>{{#link-to 'home.step5' disabled=true }}{{t 'home.step5.header'}}{{/link-to}}</li>
    </ol>
  </div>
  <div class="col-xs-12 col-sm-9 prefered-max-width-forms">
		{{outlet}}
	</div>
</div>
