<div class="row">
  <div class="col-xs-12 col-sm-3">
    <ol>
      <li>{{link-to 'Typ av beställning'    'home.step1'  }}</li>
      <li>{{link-to 'Beställningsuppgifter' 'home.step2'  }}</li>
      <li>{{link-to 'Leveransuppgifter'     'home.step3'  }}</li>
      <li>{{link-to 'Summering'             'home.step4'  }}</li>
      <li>{{link-to 'Bekräftelse'           'home.step5'  }}</li>

    </ol>
  </div>
  <div class="col-xs-12 col-sm-9 prefered-max-width-forms">
		{{outlet}}
	</div>
</div>