<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 step-indicator disabled">
    <ol>
      {{#link-to 'home.step1' disabled=true tagName='li'}}<span>{{t 'home.step1.header'}}</span>{{/link-to}}
      {{#link-to 'home.step2' disabled=true tagName='li'}}<span>{{t 'home.step2.header'}}</span>{{/link-to}}
      {{#link-to 'home.step3' disabled=true tagName='li'}}<span>{{t 'home.step3.header'}}</span>{{/link-to}}
      {{#link-to 'home.step4' disabled=true tagName='li'}}<span>{{t 'home.step4.header'}}</span>{{/link-to}}
      {{#link-to 'home.step5' disabled=true tagName='li'}}<span>{{t 'home.step5.header'}}</span>{{/link-to}}
    </ol>
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2 prefered-max-width-forms">
		{{outlet}}
	</div>
</div>
