<h2>{{t 'home.orderDetails.article.header'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      {{{t 'home.orderDetails.article.price'}}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
        <dt>{{t 'home.orderDetailsArticle.articleTitle'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.articleTitle}}</dd>
        <dt>{{t 'home.orderDetailsArticle.authors'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.authors}}</dd>
        <dt>{{t 'home.orderDetailsArticle.journalTitle'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.journalTitle}}</dd>
        <dt>{{t 'home.orderDetailsArticle.issn'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.issn}}</dd>
        <dt>{{t 'home.orderDetailsArticle.publicationYear'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.publicationYear}}</dd>
        <dt>{{t 'home.orderDetailsArticle.volume'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.volume}}</dd>
        <dt>{{t 'home.orderDetailsArticle.issue'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.issue}}</dd>
        <dt>{{t 'home.orderDetailsArticle.pages'}}:</dt>
        <dd>{{applicationController.orderDetailsArticle.pages}}</dd>
    </dl>
  </div>
</div>

<h4>{{t 'home.orderDetails.otherDetailsText'}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label">{{t 'home.orderDetailsArticle.notValidAfter'}}</label>
      {{input type='text' class="form-control" value=applicationController.orderDetailsArticle.notValidAfter}}
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label">{{t 'home.orderDetailsArticle.comment'}}</label>
      {{textarea class="form-control" value=applicationController.orderDetailsArticle.comment}}
    </div>
  </div>
</div> <!-- end row -->
